.nav{
background-color: black;
height: 80px;
display: flex;
justify-content: flex-start;
align-items: center;
}

.menu-bars {
    margin-left: 10px;
    font-size: 20px;
    color: white;
    background-color: black;
}

.navMenu {
    background-color: black;
    height: 100vh;
    list-style-type: none;
    width: 250px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 350ms;
}

.navMenu.active {
    left: 0;
    transition: 350ms;
}

.navText {
    padding: 8px 0px 8px 16px;
    /* justify-content: start; */
 display: flex;

}

.navText a{
    text-decoration: none;
}