@import '../components/Footer/Footer.scss';

.charCards {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

.indCards {
    margin: 1rem;
    @include fontStyle(1rem);
    background-color: $primaryColor
}




@media only screen and (max-width:600px) {
    .charCards {
      height: 150%;
    }

    .indCards{
        margin-bottom: 72px;
    }



    .Create{
        height: 700px;
    }
}