@import '../Footer/Footer.scss';


.about {
    height: 100vh;
    background-color: burlywood;
    text-align: center;
    @include fontStyle(2rem);
    color: black !important;

    .welcome,
    .what {
    font-weight: bolder;
    }

    .desc {
        font-size: 1.75rem !important;
    }
}

.modalBtn {
    @include fontStyle(1rem);
    background-color: $primaryColor;
    margin: 1rem;

}




@media only screen and (max-width:600px) {
    .about {
      height: 100%;
      margin-bottom:200px;
      padding-bottom: 35px;
    }
}